apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "leargon.fullname" . }}-backend
  labels:
    {{- include "leargon.backend.labels" . | nindent 4 }}
data:
  MICRONAUT_ENVIRONMENTS: "prod"
  MICRONAUT_SERVER_PORT: "8080"
  DATASOURCES_DEFAULT_URL: {{ include "leargon.databaseUrl" . | quote }}
  DATASOURCES_DEFAULT_USERNAME: {{ include "leargon.databaseUsername" . | quote }}
  ADMIN_EMAIL: {{ .Values.backend.admin.email | quote }}
  ADMIN_USERNAME: {{ .Values.backend.admin.username | quote }}
  ADMIN_FIRST_NAME: {{ .Values.backend.admin.firstName | quote }}
  ADMIN_LAST_NAME: {{ .Values.backend.admin.lastName | quote }}
  CORS_ALLOWED_ORIGINS: {{ .Values.backend.corsAllowedOrigins | default "" | quote }}
  {{- if .Values.backend.azure.tenantId }}
  AZURE_TENANT_ID: {{ .Values.backend.azure.tenantId | quote }}
  {{- end }}
  {{- if .Values.backend.azure.clientId }}
  AZURE_CLIENT_ID: {{ .Values.backend.azure.clientId | quote }}
  {{- end }}
