apiVersion: v1
kind: Service
metadata:
  name: {{ include "leargon.fullname" . }}-frontend
  labels:
    {{- include "leargon.frontend.labels" . | nindent 4 }}
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
    - port: {{ .Values.frontend.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "leargon.frontend.selectorLabels" . | nindent 4 }}
